* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  max-width: 1440px;
  height: 783px;
  background-color: #131313;
  margin: 0 auto;
}

.main__section {
  padding: 107px 134.55px 123.72px 134.45px;
  display: flex;
  gap: 50px;
}

.section__one {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

.box-one__span {
  display: flex;
  align-items: center;
  gap: 40px;
}

.secton-one__box-one {
  display: flex;
  flex-wrap: wrap;
  width: 253px;
  height: 66px;
}

.secton-one__box-one h1,
.box-one__span {
  font-family: "Yeseva One";
  color: #e3b873;
  font-weight: 400;
  font-size: 27px;
  line-height: 139%;
  letter-spacing: -0.07em;
}

.box-one__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 191%;
  color: #fff;
  font-family: "Nunito Sans";
  max-width: 442px;
  margin-top: 34px;
}

.section__one__box_two {
  margin-top: 42px;
  display: flex;
  gap: 60px;
}

.section__one__box_two h3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 139%;
  color: #e3b873;
  font-family: "Yeseva One";
  margin-bottom: 9px;
}

.section__one__box_two span,
p {
  font-weight: 400;
  font-size: 13px;
  line-height: 164%;
  color: #fff;
  font-family: "Nunito Sans";
  cursor: pointer;
}

.box-two__part-one {
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.box-two__part-two {
  display: flex;
  flex-direction: column;
  gap: 54px;
}

.section__two_nav {
  max-width: 623px;
}

.section-two__nav {
  display: flex;
  gap: 60.5px;
}

.section-one__box-three {
  margin-top: 80px;
  height: 13.28px;
  display: flex;
  max-width: 206px;
  justify-content: space-around;
}

.box-three__form {
  display: flex;
  gap: 18px;
}

.box-three__arrow {
  cursor: pointer;
}

.section-two__picture {
  position: relative;
  /* задаем размеры блока */
  width: 679px;
  height: 482px;
  margin-top: 48px;
}

/* Класс image мы создали в main.js и скрываем все остальные картинки с помощью opasity*/
.image {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size:contain;
  opacity: 0;
}

/* При классе active показываем картинку */
.active {
  opacity: 1;
}

/* Классы точек */
.section-one__dots {
  display: flex;
}

.section-one__dots_item {
  width: 10px;
  height: 10px;
  background: rgb(255, 255, 255, 0.3);
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: background 0.4s ease;
}

.section-one__dots_item:hover,
.active {
  background: #ffffff;
}

.section-two__nav_item {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 139%;
  color: rgba(255, 255, 255, 0.3);
  font-family: "Yeseva One";
  cursor: pointer;
  transition: 0.4s ease;
}

.switch {
  color: #e3b873;
  text-decoration-line: underline;
}
